<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="PrimeDataFile" value="https://raw.githubusercontent.com/VoiDGlitch/WarframeData/master/MissionDecks.txt"/>
    <add key="CacheExpiration" value="1.00:00:00"/>
    <!--Two letter-language code, leave blank to use system default (examples: "en", "pt", "ru")
        Can usually be left blank if your OS version is already the matching language. -->
    <add key="LanguageCode" value=""/>
    <!--Supported language options: English, Portuguese, Russian-->
    <add key="Language" value="English"/>
  </appSettings>
</configuration>
