<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PrimeDataFile" value="https://raw.githubusercontent.com/VoiDGlitch/WarframeData/master/MissionDecks.txt" />
    <add key="CacheExpiration" value="1.00:00:00" />
    <!--Language code, leave blank to use system default (examples: "en", "pt", "ru", "de")
        Can usually be left blank if your OS version is already the matching language. The chosen language must be installed in Windows.-->
    <add key="LanguageCode" value="" />
    <!--Supported language options: English, Portuguese, Russian, German-->
    <add key="Language" value="English" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>