<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PrimeDataFile" value="https://n8k6e2y6.ssl.hwcdn.net/repos/hnfvc0o3jnfvc873njb03enrf56.html" />
    <add key="CacheExpiration" value="1.00:00:00" />
    <add key="PlatinumCacheExpiration" value="0.00:30:00" />
    <!--Language code, leave blank to use system default (examples: "en", "pt", "ru", "de")
        Can usually be left blank if your OS version is already the matching language. The chosen language must be installed in Windows.-->
    <add key="LanguageCode" value="" />
    <!--Supported language options: English, Portuguese, Russian, German-->
    <add key="Language" value="English" />
  </appSettings>
</configuration>